<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reading List</title>
</head>
<body>
<h1>Hello world!</h1>
<h2>Reading List</h2>
<div th:unless="${#lists.isEmpty(books)}">
    <dl th:each="book:${books}">
        <dt>
            <span th:text="${book.title}">Title</span> by
            <span th:text="${book.author}">Author</span>
            (ISBN:<span th:text="${book.isbn}">ISBN</span>)
        </dt>
        <dd class="bookDescription">
            <span th:if="${book.description}">Description</span>
            <span th:if="${book.description eq null}">No description available!</span>
            <a th:href="'http://www.36sn.com/product/'+${book.isbn}" th:text="${book.title}">${book.title}</a>
        </dd>
    </dl>
</div>
<div th:if="${#lists.isEmpty(books)}">
    <p>You have no books in your book list!</p>
</div>
<h2>Add a book</h2>
<form method="post">
    <p>
        <label for="title">Title:</label>
        <input id="title" name="title" type="text" value="" size="50">
    </p>
    <p>
        <label for="author">Author</label>
        <input id="author" name="author" type="text" value="" size="50">
    </p>
    <p>
        <label for="isbn">ISBN</label>
        <input id="isbn" name="isbn" type="text" value="" size="50">
    </p>
    <p>
        <label for="description">Description</label>
        <textarea id="description" name="description" cols="80" rows="5"></textarea>
    </p>
    <button type="submit">Submit</button>
</form>
</body>
</html>